<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
      <ion-button
        (click)="emulateFileTransferDownloadFile403Errors()"
        expand="block"
        color="danger"
        >
        Emulate error "OS-PLUG-FLTR-0010"
      </ion-button>
  </div>
</ion-content>
